!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, viewport-fit=cover"}
    %link{href: '/feed.xml', rel: 'alternate', type: 'application/rss+xml', title: 'Tomasz Pewiński\'s blog'}
    %link{rel: 'shortcut icon', href: '/favicon.ico'}
    %link{href: '//fonts.googleapis.com/css?family=Inconsolata', rel: 'stylesheet', type: 'text/css'}
    %link{type: 'text/css', rel: 'stylesheet', href: '/stylesheets/syntax.css'}
    %link{type: 'text/css', rel: 'stylesheet', href: '/stylesheets/style.css'}
    %title= "#{is_blog_article? ? "#{current_article.title} | " : ""}Tomasz Pewiński"
    = partial 'google_analytics'
  %body
    .root
      %header.site-header--collapsed
        .surprise
        .container
          %a{href: '/'}
            %h1.site-header__title Tomasz Pewinski
          %nav.navigation
            %ul.navigation__items
              %li.navigation__item
                %a{href: '/about'}about me
              %li.navigation__item
                %a{href: 'https://github.com/pewniak747', target: '_blank'}github
              %li.navigation__item
                %a{href: 'https://linkedin.com/pub/tomasz-pewiński/70/955/94', target: '_blank'}linkedin
              %li.navigation__item
                %a{href: '/feed.xml'}rss
      %section.container
        - if is_blog_article?
          = partial 'article', locals: { article: current_article }
        - else
          = yield
    :javascript
      (function() {
        var active = false;
        var doc = document.documentElement;
        var element = document.querySelector('.surprise');
        var color = "#353277";

        function clamp(min, max, value) {
          return Math.min(max, Math.max(min, value));
        }

        function onscroll(event) {
          var scrollY = window.scrollY;

          if (scrollY < 0) {
            if (!active) {
              doc.style['background'] = color;
              element.textContent = "hello!";
              active = true;
            }
            var margin = clamp(-90, 0, -90 - scrollY);
            element.style['margin-top'] = margin + "px";
          } else if (scrollY > 0 && active) {
            doc.style['background'] = "none";
            active = false;
          }
        }
        window.addEventListener('scroll', onscroll, { passive: true });
      })();
